(
    bones: {
        "LeftUpLeg": (
            swing: (
                axis: (0.99996626, 0.0, -0.008217246),
                degrees: 0.32403895,
            ),
            twist_degrees: 0.0,
        ),
        "Spine2": (
            swing: (
                axis: (-0.39740822, 0.33402604, -0.854689),
                degrees: 2.0527372,
            ),
            twist_degrees: 0.0,
        ),
        "LeftShoulder": (
            swing: (
                axis: (0.4322761, -0.7309856, 0.5280127),
                degrees: 26.976105,
            ),
            twist_degrees: 0.0,
        ),
        "Neck": (
            swing: (
                axis: (0.52394426, 0.08107185, -0.8478855),
                degrees: 2.992621,
            ),
            twist_degrees: 0.0,
        ),
        "LeftArm": (
            swing: (
                axis: (-0.000000012826921, 0.21313174, 0.9770235),
                degrees: 71.0214,
            ),
            twist_degrees: 0.0,
        ),
        "LeftForeArm": (
            swing: (
                axis: (0.00000014599406, -0.8265588, 0.56285036),
                degrees: 1.4620403,
            ),
            twist_degrees: 0.0,
        ),
        "RightShoulder": (
            swing: (
                axis: (0.5135906, 0.7279055, -0.45428884),
                degrees: 24.117142,
            ),
            twist_degrees: 0.0,
        ),
        "Spine1": (
            swing: (
                axis: (-0.7393649, 0.08434733, -0.6680007),
                degrees: 6.5046434,
            ),
            twist_degrees: 0.0,
        ),
        "Spine": (
            swing: (
                axis: (0.70189714, -0.0040460136, 0.7122668),
                degrees: 6.2431755,
            ),
            twist_degrees: 0.0,
        ),
        "RightForeArm": (
            swing: (
                axis: (0.0, 0.8163419, -0.577569),
                degrees: 1.4620339,
            ),
            twist_degrees: 0.0,
        ),
        "RightArm": (
            swing: (
                axis: (0.000000012826917, -0.23060727, -0.97304684),
                degrees: 71.021416,
            ),
            twist_degrees: 0.0,
        ),
        "Hips": (
            swing: (
                axis: (-0.99996626, 0.0, 0.008217246),
                degrees: 0.32403895,
            ),
            twist_degrees: 0.0,
        ),
        "RightUpLeg": (
            swing: (
                axis: (0.99996626, 0.0, -0.008217246),
                degrees: 0.32403895,
            ),
            twist_degrees: 0.0,
        ),
    },
    root_translation: (0.0, 0.0, 0.0),
)